* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: grey;
	background-image: url(../assets/body.png);
}

.container {
	width: 960px; /*si containernya lebar maksimalnya itu 960px maka dari itu si lebar content dan lebar aside nya gaboleh lebih dari itu, 
	pokonya digabung lebar si aside sama content nya, jadigaboleh lebih dari si containernya*/
	margin: auto;
	background-color: white;
}

.jumbotron {
	padding: 60px;
}

.p1 {
	text-align: center;
	margin-top: 25px;
}

h1 {
	text-align: center;
}

#gambar {
	border-top: 5px solid lightyellow;
	background-size: cover; /*bisakan pake baground-size cover untuk baground gambar*/
	height: 320px; /*dan harus ada tingginya berapa si gambar itu*/
	background-image: url(../assets/gambar.jpg);
	background-position: 0 -135px; /*ada 2 value, value yg pertama untuk kanan krii, trs value kdua atas bawah, 
									kasih mines untuk ke kiri untuk value yg pertama, kalau value yg kedua untuk ke atas*/
	border-bottom: 5px solid lightblue;
}

nav li {
	display: inline; /*dikasih display inline supaya dia lurus karna defaultnya si li displaynya block*/
	list-style-type: none; /*biasakan pake ini supaya ilang tanda buletnya di li*/
	margin-right: 20px;
}

nav a {
	text-decoration: none;
	color: yellow;
}

nav a:hover {
	color: lightyellow;
}

header {
	display: inline;
}

nav {
	background-color: red;
	padding: 20px;
	position: sticky; /*pake position sticky untuk saat navigasi di scoll dia ngikut, 
	trs kalau pake stciky dia harus dikasih display inline diparentnya yaitu si header*/
	top: 0; /*supaya posisinya diatas jendela browser*/
	z-index: 1; /*supaya bisa diatas dari semua element*/
}

.content {
	padding: 20px;
	width: 600px;
	float: left; /*pake float supaya keluar dari flow dan bisa diatur posisinya mau ke kanan atau kiri 
	trs nanti element dibawahnya bakal naik ke atas dan cara ngatasinnya si main/paling parent nya harus kita pakein overfliw nya auto*/
}

.content a {
	text-decoration: none;
}

.content a {
	color: red;
}

.content a:hover {
	color: orange;
}

.content p {
	margin-bottom: 20px;
	font-family: arial, verdana, sans-serif;
	font-size: 13px;
}

.about img {
	float: left;
	width: 70px;
	margin: 10px;
}

main {
	overflow: auto; /*si parent nya banget itu adalah si main yg floatnya kita ubah jadi kekiri makannya si parent nya banget harus overdlownya auto*/
}


.about {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /*0(satu) 4px(dua) 8px(tiga) 0(empat) rgba(lima)*/ 
	border-radius: 5px; /*untuk radius setiap ujung garisnya*/
	padding: 20px; /*padding untuk jarak content sama box paddingnya*/
	margin-top: 20px; /*margin atasnya 20px*/
	width: 300px;
	float: right; /*karna float di sini gaada element bawahnya, jadinya dia si parent nya banget itu gausah pake overflow auto*/
	margin-right: 10px;
}


.about p {
	font-family: arial, verdana, sans-serif;
	font-size: 12px;
}

.footer {
	background-color: darkred;
	padding: 15px;
}


.footer p {
	text-align: center;
	color: white;
	font-weight: bold;
}


figcaption {
	margin-top: 20px;
}

.do {
	text-align: center;
	margin-bottom: 20px;
	font-size: 20px;
}

.share {
	float: right; /*ini jg sama gaada element dibawahnya*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /*0(satu) 4px(dua) 8px(tiga) 0(empat) rgba(lima)*/ 
   	border-radius: 5px; /*untuk radius setiap ujung garisnya*/
   	padding: 20px; /*padding untuk jarak content sama box paddingnya*/
   	margin-top: 20px; /*margin atasnya 20px*/
   	margin-right: 10px;
   	width: 300px;
   	position: relative; /*class share adalah parent makannya dikasih positionnya relative, supaya relative terhadap parent nya
   	biasanya anaknya dikasih positionnya absolute dll, defaultnya static*/
}

.picture img:hover { /*biar pas kursosr ke gambar jadi ada bordernya*/
	border: 3px solid lightskyblue;
	border-radius: 50%;
}

.picture img{
	width: 50px;
	margin-top: 15px;
}

.picture a {
	text-decoration: none;
	display: block; /*karna si tag a ini defaultnya inline, maka kita ubah jadi block supaya jadi kolom gtu*/
	color: lightgreen;
}

.picture p{
	position: absolute;/* kalau pake position absolute make element dibawahnya bakalan naik ke atas, karena dianggap gaada, 
	trs supaya relative sama parent nya, maka dikasih position relative di parent nya, bisa dikasih top right left dan bottom*/
	display: inline; /*kita ubah displaynya yg si tag p tadinya kolom jadi baris menggunakan display inline*/
	background-color: darkgoldenrod;
	text-align: center;
	border-radius: 10px; /*border-radius untuk ngasih radius di ujungnya*/
	width: 90px;
}

.picture p:hover {
	border: 2px solid lightskyblue;
}

.fb {
	top: 100px;
	left: 100px;
}

.ig {
	top: 180px;
	left: 100px;
}

.twit {
	top: 250px;
	left: 100px;
}

.link {
	top: 320px;
	left: 100px;
}
